<template>
  <div>
  <button @click="test"> {{placeholder}}
    questo è il pulsante
  </button>
  </div>
</template>

<script>

export default {
  name: 'Button',

  props: {
    placeholder: String
  },
  
  methods: {
    chiama: function(){
      alert('asd')
    },
    test: function() {
      console.log('test')
   }
  }
}
</script>

<style scoped>

  .alza{
    z-index: 100;
  }
</style>
