<template>
  <section :style="testImgBackground">
    <div>
      <p v-on:click="chiama">name: {{name}}</p>
      <img :src="description" alt="">
    </div>
    

    <slot v-on:click="test"></slot>
    <!-- <p>{{category}}</p> -->
  </section>
</template>

<script>
import axios from 'axios'
// axios.defaults.headers.post['Content-Type'] ='application/x-www-form-urlencoded'
export default {
  name: 'HelloWorld',
  props: {
    category: Array,
    description: String,
    name: String, 
    start: Date,
    stop: Date,
    note: String
  },
  data() {
    return{
      testImgBackground: 'background-image: "https://picsum.photos/800/600/?blur"'
    }
    
  },
  methods: {
    chiama2: function () {
        axios.get('data.js', {})
          .then(({data}) => {
          let mieiDati = data
          console.log(mieiDati)
          console.log(data)
          // this.assignData(data)
          this.lista = data
          })
    },
    chiama: function(){
      alert('asd')
    },
    test: function() {
      console.log('test')
   }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
section {
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 0.9em;
}
</style>
