<template>
  <div id="app">
    <!-- <Button> </Button> -->
    <!-- <img src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <div class="reveal">
      <div class="slides">

        <my-section 
            v-for="l in lista" 
            :key="l.id" 
            :name='l.name' 
            :description='l.description'
            :category="l.category">

              <section class="sfondo" 
                data-background-color="aquamarine" 
                
                v-for="cat in l.category" 
                :key="cat.id">
                  <!-- <div class="column">Laptop: {{cat.name}}</div> -->
                  {{cat.id}} - {{cat.name}} - {{cat.description}}
              </section>

        </my-section>

                <!-- <my-section msg='2 321'></my-section>
                  <my-sectionmsg ='3 321'></my-section> -->
        
        <!-- </section> -->
      </div>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Reveal from 'reveal.js/js/reveal'
import MySection from "./components/MySection.vue"
// import Button from "./components/Button.vue"
import axios from 'axios'
axios.defaults.headers.post['Content-Type'] ='application/x-www-form-urlencoded'

export default {

  name: 'app',
  components: {
    // HelloWorld
    MySection,
    // Button
  },
  props: {
    note: String,
    id: Number,
    name: String,
    description: String
  },
  data() {
    return {
      lista: [],
      // category: [],
      // id: "2", nsame:"asd",
      // i2: "3", nadme:"asd",
      // i3: "1", namfe:"asd",
    }
  },
  
  methods: {
    assignData: function (data) {
      this.lista = data
    },
    call: function () {
      //http://192.168.1.104:8080/data.js
      //axios.get('data.js', {})
        axios.get('data.js', {})
          .then(({data}) => {
          let mieiDati = data
          console.log(mieiDati)
          console.log(data)
          // this.assignData(data)
          this.lista = data
          })
    },
    test: function () {
      alert('wow!')
    }
  },
  mounted() {
    this.call(),
    setInterval(function(){
      Reveal.initialize({
        transition: 'concave',
        autoSlide: 7000,
        backgroundTransition: 'zoom',
        loop: true

      // autoAnimateEasing: 'ease-out',
      // autoAnimateDuration: 0.9,
      // autoAnimateUnmatched: false,
    })
    }, 1*1000)
  }
}
</script>

<style>
@import url('../../node_modules/reveal.js/css/reveal.css');
@import url('../../node_modules/reveal.js/css/theme/white.css');

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  height: 100vh;
}
.column {
  border: 1px solid red;
}
.sfondo {
  border: 1px solid red;
  background-image: url("https://pixabay.com/get/54e1dd464f53ac14f6da8c7dda79357d133edae44e507749742b7ad09344c0_1280.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}
</style>
